<a href="/"><h1>Insert</h1></a>

<form method="POST">
    <label for="clave_p">Clave</label>
    <input type="text" placeholder="Clave" id="clave_p" name="clave_p">
    <br>
    <label for="nombre_p">Nombre</label>
    <input type="text" placeholder="Nombre" id="nombre_p" name="nombre_p">
    <br>
    <label for="precio_p">Precio</label>
    <input type="text" placeholder="Precio" id="precio_p" name="precio_p">
    <br>
    <label for="marca_p">Marca</label>
    <input type="text" placeholder="Marca" id="marca_p" name="marca_p">
    <br>
    <label for="proveedor_p">Proveedor</label>
    <input type="text" placeholder="Proveedor" id="proveedor_p" name="proveedor_p">
    <br>
    <button type="submit" class="btn btn-primary">Insert</button>
</form>